/*
SELETOR {
    PROPRIEDADE: VALOR;
}
*/

body {
    background-color: burlywood;
    font-family: sans-serif;
    margin: 0;
}
header {
    background-color: cadetblue;
}

.nav-header a {
    color: #79053b;
    text-decoration: none;
}
.cor-azul {
    color: blue;
}
#header-pesquisa {
    color:darkgreen;
}

/* ::placeholde

*/

#header-pesquisa::placeholder {
    color: black;
}

textarea {
    resize: none;
}

.formulario-contato {
    background-color: #df9bdf;
    border-radius: 10px;
    box-shadow: 1px 1px 15px 15px rgba(0, 0, 0, 0.1)
}

.formulario-contato p, .formulario-contato h3 {
    font-size: 18pt;
}

.negrito {
    font-weight: bold;
}

.negrito:hover {
    color:dimgray;
}

img { 
    opacity: 0.5;
}

img:hover {
    opacity: 1;
}

button {
    cursor: pointer;
}
/* cursor pointer e para adicionar a maozinha de clicar.
*/
